<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador Brownie de Lei</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-...seu código de integridade..." crossorigin="anonymous" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/x-icon" href="/images/BDLlogo.png">
    </head>
    <style>
        html,
        body{
            background-color: #9F26CA;
            background-repeat: no-repeat;
            background-image: url(../../images/bg_flow.svg);
            background-position-x: right;
            height: 100%;
        }
        input{
            padding: 13px;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 4px;
            color: white;
            width: 100%;
            margin-top: 13px;
            font-weight: 300;
            
        }
        ::placeholder{
            color: white;
        }
        .btn-login{
            margin-top: 43px;
            width: 100%;
            padding: 13px;
            border: none;
            border-radius: 4px;
            box-shadow: rgb(0 0 0 / 30%) 0px 4px 10px;
            font-weight: 600;
            color: #8D21C0;
            font-size: 16pt;
        }
    </style>
<body>
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="text-center" style="width: 300px;">
            <img style="max-width:150px" src="../../images/BDLlogo.png" alt="">
            <form action="/customer_auth" method="POST">
                <input autocomplete="off" role="presentation" type="email" id="email" name="email" placeholder="Digite seu e-mail">
                <br>
                <input autocomplete="off" role="presentation" type="password" id="password" name="password" placeholder="Digite sua senha">
                <br>
                <button class="btn-login">ENTRAR</button>
            </form>
        </div>
    </div>
</body>
</html>